.box {
    border: 5px dotted;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}

.biggerbox {
    border: 2px solid black;
    padding: 20px;
}

.biggerbox span {
    background-color: pink;
    border: 5px solid black;
    padding: 1em;
    display: inline-block;
    font-weight: bolder;

}